.nav{
    margin-left:20px;
    margin-right:20px;
}

table td{
    padding-left:50px;
    font-size:17px;
}

a{
    text-decoration:none;
    color:black;
}

a::after{
    text-decoration: underline;
}

.resume{
    font-size:30px;
    width:auto;
    height:50px;
    border-radius:10px;
    text-align:left;
    border:none;
    box-shadow:2px 2px 5px black;
    color:white;
    font-weight:900px;
    background-color:black;
}

.resume:hover{
    color:white;
    font-weight:900px;
    background-color:rgb(248, 208, 159);
    box-shadow:2px 2px 4px rgb(248, 208, 159);
    cursor: pointer;
    transition:0.5s ease-in-out; 
}

.circ{
    width:5px;
    height:5px;
    background-color:rgb(248, 208, 159);
    border-radius:50%;
}

#hanu img{
    box-shadow:4px 4px 10px black;
}

/* Styles for website counter container */
.website-counter {
    height:auto;
    width:auto;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
  }

.left{
    margin-left:20px;
}

.right{
    margin-left:20px;
}

.enroll-table th{
    padding-left:50px;
    text-align:left;
}

.enroll-table{
    padding:150px;
    width:700px;
    padding-top:50px;
    padding-left:100px;
}

.enroll-table td{
    padding-left:100px;
    text-align: center;
}


.enroll-table td h1{
    text-align:left;
}

.cat select{
    background-color:white;
    border:none;
    color:rgb(248, 208, 159);
    font-weight:900;
    border-color:transparent;
    border-style:hidden;
    width:180px;
    height:50px;
    text-align:justify;
    font-size:20px;
    border-radius:12px;
    margin-left:-60px;
}

.cat select:hover{
    background-color:rgb(248, 208, 159);
    border:none;
    color:white;
    font-weight:900;
    border-color:transparent;
    border-style:hidden;
    width:180px;
    height:50px;
    text-align:justify;
    font-size:20px;
    border-radius:12px;
    margin-left:-60px;
    transition:0.4s ease-in-out;
}

.cat select::selection{
    background-color:white;
    border:none;
    color:red;
    font-weight:900;
    border-color:transparent;
    border-style:hidden;
    width:180px;
    height:50px;
    text-align:justify;
    font-size:20px;
    border-radius:12px;
    margin-left:-60px;
}

@media screen and (max-width: 667px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

